BOT_TOKEN=7759624333:AAGWYrNue4Fmj25rORkKaDN3l_v1lCtw-2o
CHAT_ID=chat_id
ADMINS=123,456
CHECKIN_CHECK_INTERVAL_MINUTES=5
WEATHER_CHECK_INTERVAL_MINUTES=15
MESSAGE_TTL_DAYS=7
NEARBY_SPOTS_LIMIT=5
PLANNED_VISITS_LIMIT=5
STATS_CACHE_TTL_SECONDS=600